beautifulsoup4==4.8.1
bs4==0.0.1
elasticsearch==7.1.0
feedparser==5.2.1
Flask==1.1.1
Flask-Cors==3.0.8
news-please==1.4.24
newsapi-python==0.2.5
nltk==3.4.5
numpy==1.17.2
dnspython
pandas==0.25.1
pathlib==1.0.1
pymongo==3.9.0
PyMySQL==0.9.3
python-dotenv==0.10.3
textblob==0.15.3

